.box {
  padding: 5px;
  overflow: auto;
  font-family: "consolas";
  border-color: black;
  border-width: 1px;
  border-style: solid;
}
.red{
  color: #ff0000;
}
.blue {
  color: #0000ff;
}
.green {
  color: #00ff00;
}
.bold{
  font-weight: bold;
}
.hide{
  display: none;
}
.center{
  background: gray;
  display: block;
  height: 144px;
  margin: auto;
  
  position: absolute;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;  
  
  width: 50%;
}

.front{
  z-index: 99;
}

ul{
  padding-left: 5px;
  list-style-type: none;
}
form input {
  width: 300px;
}

#messages {
  height: 300px;
  width: 640px;
}
#mapname {
  font-style: underline;
}
#inventory {
  text-align: center;
}

#equipment {
  text-align: center;
}